body {
    padding: 20px;
    overflow-x: scroll;
    white-space: nowrap;
}

.buttons {
    display: inline-block;
    width: 320px;
    margin: 0 2%;
}

.chart {
    width: 300px;
    padding: 10px;
}

.chart div {
    padding: 0 15%;
}

.proportionalize {
    display: block;
}